h1 {
    font-family: 'Righteous', 'Lucida Sans';
    text-align: center;
}
body {
    background-color: #12ddeb;
}
img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
.navigation {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
li {
    display: inline-block;
    margin-right: 10px;
    padding: 15px;

}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}